.app {
  height: 100vh;
  padding: 50px;
  font-family: "Century Gothic", sans-serif;
}

.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #64c3b1;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
  padding: 5px;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.15);
}

.todo {
  width: 90%;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  margin: 10px auto;
  padding: 5px 10px;
}

.inputField {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputField input, .inputField button {
  margin: 5px;
  width: 45%;
  border-radius: 10px;
  border: none;
}

.inputField input {
  box-shadow: 3px 3px 0 rgb(23,159,133);
}

.inputField button {
  font-family: "Century Gothic", sans-serif;
  font-weight: bold;
  padding: 5px;
  background-color: #179f85;
  color: white;
  box-shadow: 3px 3px 0 rgb(255, 255, 255);
  font-size: 1.2rem;
}

.inputField form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
